aside {
  width: 15%;
  height: 15%;
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  border: 1px solid var(--color-first);
  margin: 1rem;
  border-radius: 4px;
}

@media(max-width: 1225px) {
  aside {
    display: none;
  }
}


ul {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  width: 100%;
}

ul li {
  list-style: none;
  border: 1px solid var(--color-first);
  padding: 0.3rem;
  text-align: center;
  border-radius: 4px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

ul li svg {
    font-size: 1.2rem;
    color: var(--color-second);
    filter: drop-shadow(0 0 1px rgb(232, 0, 0));
}


